<div class="container">
	<div class="page-header">
	  <h1>Halaman Artikel Index  </h1>
	  
	</div>

<div class="panel">
                

	<table border = '0' width = '500px'>
		<tr>
			<td align = 'center'><%= link_to "Add new article", {:controller => "articles", :action => "new" }, :class => "btn btn-sm btn-primary" %></td>
			<td align = 'center'>or</td>
			<%= form_tag import_articles_path, multipart: true, :class => "form-horizontal", :role => "form" do %>
			<td align = 'center'><%= file_field_tag :file, class: "btn btn-default" %>  </td>
			<td align = 'center'><%= submit_tag "Import", class: "btn btn-default btn-primary" %></td>

                <% end %>
		</tr>
	</table>

    </div>

<div class="panel">
	<%= will_paginate @articles %>

	<% @articles.each do |article| %>
	<div class = "list-group-item">

	<h4><%= article.title %></h4>

	<%= article.content.truncate(20) %>

	<%= link_to 'read more', article_path(article.id) %>

	<h4>status : <%= article.status %></h4>

	<p>
	<%= link_to 'edit', edit_article_path(article.id), :class => "btn btn-xs btn-success" %>
	<%= link_to 'delete', article_path(article.id), method: "DELETE", data: {confirm: 'Delete this article ? '}, :class => "btn btn-xs btn-danger" %>
	</p>


</div>
<% end %>

</div>

</div>
